@media (max-width: 1070px) {
    .parent{
        height: 1000px;
    }
    
    .earth{
        position: relative;
        top:50px;
        left: 25%;
    }
    .form{
        position: relative;
        top: 400px;
        left: 25%;
        
    }
    
  }